

<div id="badge">
    <img src="assets/images/discount.svg" alt="Pizza">
    <div id="center">Цього тижня на все
        <hr>
        -20%
    </div>
</div>
<div class="d-flex flex-column justify-content-center" id="footer">
    <div class="p-2 text-center">Pizza.22 - практичний проєкт в межах курсу JavaScript в Києво-Могилянській Академії
    </div>
    <div class="p-2 text-center" id="footer-text">Доставка піци не здійснюється</div>
</div>

<!-- jQuery JavaScript -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"> </script>

<!--Bootsrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<!--Own JavaScript -->
<script type="text/javascript"  src="assets/js/main.js"> </script>
</body>
</html>
