<% include common/header.ejs %>

<div class="container">
<div class="card-body">
        <div id="cart">
            <p class="font-weight-bold text-center all">Усі піци
                <span id="all-pizza" class="badge badge-warning badge-pill">8</span>
            </p>
            <p class="card-text text-center all">
                <button class="btn btn-warning" id="all">Усі</button>
                <button class="btn btn-warning" id="meat">М'ясні</button>
                <button class="btn btn-warning" id="pineapple">З ананасами</button>
                <button class="btn btn-warning" id="mushroom">З грибами</button>
                <button class="btn btn-warning" id="seafood">З морепродуктами</button>
                <button class="btn btn-warning" id="vega">Вега</button>
            </p>
        </div>
    </div>
    <div class="row" id="pizza_list">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
    </div>
    </div>
</div>
<script	type="text/javascript"
           src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCubcPLIuUh4c99YPVY_u6IekgCuEi4OJ8">
</script>

<% include common/footer.ejs %>
