<% include common/header.ejs %>


<div class="mx-auto" style="width: 50%;">
    <h3>1.Контактні дані</h3>
    <div class="form-group">
        <span for="exampleInputEmail1" id="name">Ім'я</span>
        <input type="text" name="name" class="form-control" id="exampleInputName1" placeholder="Ім'я та прізвище"
               required>
        <label id="nameError"></label>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1" id="phone">Телефон</label>
        <input type="text" name="phone" class="form-control" id="exampleInputPhone1" placeholder="+3807894532" required>
        <label id="phoneError"></label>
    </div>
    <div class="form-group">
        <label for="exampleInputAddress1" id="address">Адреса</label>
        <input type="text" name="address" class="form-control" id="exampleInputAddress1" placeholder="м.Київ" required>
        <label id="addressError"></label>
    </div>
    <div class="order-info">
        <div>
        <b>Інформація про замовлення:</b>
        <span id="pizzas-in-order-info"></span>
        <span> pizza(-s)</span>
            <button style="border-radius: 5px; color: black" class="btn-warning" id="submit-order">Next>></button>
        </div>
        <b>Приблизний час доставки:</b>
        <span id="time-delay">невідомий</span>
        <br/>
        <div class="row">
            <div class="col-sm">
                <b>Адреса доставки:</b>
                <span id="address-field">невідома</span>
            </div>
        </div>

    </div>

    <div id="googleMap"></div>
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCubcPLIuUh4c99YPVY_u6IekgCuEi4OJ8&libraries=&v=weekly">
    </script>
    <div id="liqpay"></div>
    <script src="//static.liqpay.ua/libjs/checkout.js">
    </script>
</div>

<% include common/footer.ejs %>
