<% include common/header.ejs %>


<div class="mx-auto" style="width: 50%;">
    <h3>1.Контактні дані</h3>
    <div class="form-group">
    <span for="exampleInputEmail1" id="name">Ім'я</span>
    <input type="text" name="name" class="form-control" id="exampleInputName1" placeholder="Ім'я та прізвище" required>
        <label id="nameError"></label>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1" id="phone">Телефон</label>
    <input type="text" name="phone" class="form-control" id="exampleInputPhone1" placeholder="+3807894532" required>
      <label id="phoneError"></label>
  </div>
   <div class="form-group">
    <label for="exampleInputAddress1" id="address">Адреса</label>
    <input type="text" name="address" class="form-control" id="exampleInputAddress1" placeholder="м.Київ" required>
       <label id="addressError"></label>
  </div>
  <div class="order-info">
  <b>Інформація про замовлення</b>
  <br>
  <span><b>Приблизний час доставки:</b> невідомий</span>
  <br/>
  <span><b>Адреса доставки</b> невідома</span>
  <button type="submit" class="btn btn-warning" id="submit-order">Next ></button>
    </div>
</div>



<div id="badge">
    <img src="assets/images/discount.svg" alt="Pizza">
    <div id="center">Цього тижня на все
        <hr>
        -20%
    </div>
</div>
<div class="d-flex flex-column justify-content-center fixed-bottom" id="footer">
    <div class="p-2 text-center">Pizza.22 - практичний проєкт в межах курсу JavaScript в Києво-Могилянській Академії
    </div>
    <div class="p-2 text-center" id="footer-text">Доставка піци не здійснюється</div>
</div>

<!-- jQuery JavaScript -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"> </script>

<!--Bootsrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<!--Own JavaScript -->
<script type="text/javascript"  src="assets/js/main.js"> </script>
</body>
</html>

