.order-info{
    background: white;
    padding: 20px;
    position:relative;
    border-left: 5px solid orange;

    .btn{
        position:absolute;
        right:0;
    }
    b{
    margin-top: 10px;
    }
}
